body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: blue;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 700px;
}
div{
    margin: 0;
    border: 1px solid black;
}
.btn{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}
.gridsquare{
    padding: 1vh;
}