body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}
h1{
    color: red;
    text-align: center;
    font-family: 'Bungee Shade', cursive, sans-serif;
    font-weight: bold;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 700px;
    background-color: white;
}
div{
    margin: 0;
}
.btnContainer{
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.container{
    border: 50px solid red;
    border-radius: 20px;
}
.button{
    padding: 5px;
    border-radius: 5px;
}
.button:hover{
    color: white;
    background-color: black;
}
footer{
    color: white;
    margin: 20px;
}